@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.learn-more-page {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: white;
  }

.learn-more-container {
  max-width: 700px;
  width: 100%;
  text-align: center;
}

.learn-more-container h2 {
  font-family: 'Aboreto', cursive;
  font-size: 38px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.how-box {
  background: #3a004b;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.how-step h3 {
  font-family: 'Aboreto', cursive;
  font-size: 20px;
  margin-bottom: 5px;
}

.how-step p {
    font-family: 'Aboreto', cursive;
  font-size: 14px;
  line-height: 1.4;
}

.ready-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.ready-box span {
  font-size: 18px;
  font-family: 'Aboreto', cursive;
}

.login-btn {
  background: #4b144b;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-family: 'Aboreto', cursive;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #2d0d2d;
}

@media (max-width: 768px) {
  .how-box {
    padding: 30px 15px;
  }

  .how-step p {
    font-size: 13px;
  }
}
